services:
  playwright:
    stdin_open: true
    tty: true
    build:
      context: "../"
      dockerfile: "./e2e/Dockerfile"
      target: "playwright"
    volumes:
      - "./__snapshots__:/e2e/__snapshots__"
      - "./tests:/e2e/tests"
      - "./../build/:/build"
      - type: bind
        source: ./playwright.config.ts
        target: /e2e/playwright.config.ts
      - type: bind
        source: ./package.json
        target: /e2e/package.json
